In [1]:
import numpy as np
import pandas as pd

In [11]:
path = "C:/Users/shuji/Documents/2020 spring/5841 DS in finance/data/time_series_covid19_confirmed_US.csv"
df = pd.read_csv(path)
df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2004/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,133,133,133,135,135,136,136,136,136,136
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,11,11,11,13,13,13,14,14,14,14
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,897,903,923,974,1043,1068,1118,1213,1252,1298
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,51,51,51,51,51,51,53,53,53,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3264,84070008,US,USA,840,NaN,Marine Corps,US Military,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,253
3265,84070009,US,USA,840,NaN,Navy,US Military,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1631
3266,84070013,US,USA,840,NaN,Staff,Federal Bureau of Prisons,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,319
3267,84070010,US,USA,840,NaN,Unassigned,US Military,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1810
3268,84070021,US,USA,840,NaN,NaN,Veteran Hospitals,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,5599

In [13]:
df_by_state = df.groupby("Province_State").sum()
df_by_state

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2004/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20
Province_State,,,,,,,,,,,,,,,,,,,,,
Alabama,5796241491,57960,241491.0,2203.246784,-5809.578199,0,0,0,0,0,...,3563,3734,3953,4075,4345,4571,4712,4888,5079,5317
Alaska,2604232344,26040,232344.0,1747.579877,-4229.319334,0,0,0,0,0,...,272,277,285,293,300,309,314,319,321,329
American Samoa,16,16,60.0,-14.271000,-170.132000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arizona,1428230216,14280,230216.0,505.138555,-1671.948482,0,0,0,0,1,...,3542,3705,3809,3964,4237,4511,4724,4933,5068,5256
Arkansas,6468550635,64680,550635.0,2618.391704,-6932.548370,0,0,0,0,0,...,1280,1410,1498,1569,1620,1695,1744,1781,1973,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,11346988213,113400,6988213.0,4996.297993,-10442.323661,0,0,0,0,0,...,5274,5747,6182,6500,6889,7491,8053,8542,8990,9630
Washington,3446238627,34440,2238627.0,1842.117670,-4708.049596,1,1,1,1,1,...,10609,10635,10799,10942,11057,11517,11776,11978,12114,12563
West Virginia,4791143133,47880,3143133.0,2134.783954,-4433.959998,0,0,0,0,0,...,593,611,640,702,728,775,785,890,902,908
Wisconsin,6220135229,62160,4135229.0,3196.450332,-6465.454559,0,0,0,0,0,...,3341,3428,3555,3721,3875,4053,4199,4346,4499,4625
Wyoming,2101458641,21000,1458641.0,990.998367,-2464.524571,0,0,0,0,0,...,270,275,282,287,296,305,309,313,317,443

In [14]:
df_by_state_clean = df_by_state.sort_values(by = '4/21/20', ).drop(['UID', 'code3', 'FIPS', 'Lat', 'Long_'], axis = 1)

In [15]:
df_by_state_clean

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,2004/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20
Province_State,,,,,,,,,,,,,,,,,,,,,
American Samoa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Northern Mariana Islands,0,0,0,0,0,0,0,0,0,0,...,11,11,11,13,13,13,14,14,14,14
Diamond Princess,0,0,0,0,0,0,0,0,0,0,...,49,49,49,49,49,49,49,49,49,49
Virgin Islands,0,0,0,0,0,0,0,0,0,0,...,51,51,51,51,51,51,53,53,53,53
Grand Princess,0,0,0,0,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pennsylvania,0,0,0,0,0,0,0,0,0,0,...,22938,24292,25465,26753,28258,29888,31652,32902,33914,35249
California,0,0,0,0,2,2,2,2,2,3,...,22795,23931,25356,26686,27677,29157,30491,31431,33686,35465
Massachusetts,0,0,0,0,0,0,0,0,0,0,...,25475,26867,28164,29918,32181,34402,36372,38077,38077,41199
New Jersey,0,0,0,0,0,0,0,0,0,0,...,61850,64584,68824,71030,75317,78467,81420,85301,88722,92387
New York,0,0,0,0,0,0,0,0,0,0,...,189033,195749,203020,214454,223691,230597,241712,247815,253060,258361

In [16]:
date = df_by_state_clean.columns
df_by_state_clean = df_by_state_clean.transpose()
df_by_state_clean['date'] = date 
df_by_state_clean

Province_State,American Samoa,Northern Mariana Islands,Diamond Princess,Virgin Islands,Grand Princess,Guam,Alaska,Montana,Wyoming,Hawaii,...,Louisiana,Florida,Michigan,Illinois,Pennsylvania,California,Massachusetts,New Jersey,New York,date
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1/22/20
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1/23/20
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1/24/20
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1/25/20
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,2,0,0,0,1/26/20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4/17/20,0,13,49,51,103,136,309,422,305,541,...,23118,24759,30023,27578,29888,29157,34402,78467,230597,4/17/20
4/18/20,0,14,49,53,103,136,314,426,309,574,...,23580,25492,30791,29160,31652,30491,36372,81420,241712,4/18/20
4/19/20,0,14,49,53,103,136,319,433,313,580,...,23928,26314,31424,30357,32902,31431,38077,85301,247815,4/19/20
4/20/20,0,14,49,53,103,136,321,433,317,584,...,24523,27059,32000,31513,33914,33686,38077,88722,253060,4/20/20
4/21/20,0,14,49,53,103,136,329,437,443,586,...,24854,27869,32667,33059,35249,35465,41199,92387,258361,4/21/20

In [26]:
#df_by_state_clean.insert(0,"date",df_by_state_clean["date"])

In [28]:
from sklearn.model_selection import train_test_split

In [40]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, LSTM, Dense, Activation, Dropout
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'tensorflow'

In [33]:
#Creating train and test set
train,test= train_test_split(df_by_state_clean,test_size=0.2, random_state=42,shuffle=False)

In [34]:
from pandas import DataFrame

In [35]:
def train_by_state(state,train):
  return train[state]
def test_by_state(state,test):
  return test[state]

In [36]:
train_ny = train_by_state('New York',train)
test_ny = test_by_state('New York',test)

In [38]:
#build input data 将unsupervised变成supervised
def supervised_train_set(data,back_step):
     df = DataFrame()
     x = data
     length = x.shape[0]
     df['t'] = [x[i] for i in range(x.shape[0])]
     x=df['t'].values
     cols=list()
     df['t+1'] = df['t'].shift(-back_step)
     cols.append(df['t+1'])
     df['t+2'] = df['t'].shift(-(back_step+1))
     cols.append(df['t+2'])
     df['t+3'] = df['t'].shift(-(back_step+2))
     cols.append(df['t+3'])
     agg = pd.concat(cols,axis=1)
     y=agg.values
     x = x.reshape(x.shape[0],1)
     len_X = length-back_step-2
     X=np.zeros((len_X,back_step,1))
     Y=np.zeros((len_X,3))
     for i in range(len_X):
        X[i] = x[i:i+back_step]
        Y[i] = y[i]

     return X,Y

In [39]:
from keras import optimizers
from sklearn.metrics import mean_squared_error
from keras.models import load_model

ModuleNotFoundError: No module named 'keras'

In [ ]:
def fit_lstm_model(trainX,trainY,testX,testY,batch_size=1, epochs=1, verbose = 0, input_shape=(back_step,1)):
    model = Sequential()
    model.add(LSTM(32,activation='relu',return_sequences=True, input_shape=input_shape))
    model.add(LSTM(16, activation='relu'))
    myOptimizer = optimizers.Adam(lr=0.01, beta_1=0.9, beta_2=0.999, epsilon=0.01, decay=0.0)
    model.compile(loss='mean_squared_error', optimizer=myOptimizer)
    model.fit(trainX, trainY, epochs=epochs,  validation_data=(testX,testY), batch_size=batch_size, verbose=verbose)

In [ ]:
fit_lstm_model(trainX,trainY,testX,testY,batch_size=5, epochs=100, verbose = 0, input_shape=(back_step,1))

In [ ]:
# fit an LSTM network to training data
def fit_lstm_model(trainX,trainY,testX,testY,batch_size=1, epochs=1, verbose = 0, input_shape=(back_step,1)):
def fit_lstm(train, batch_size, nb_epoch, neurons):
	X, y = train[:, 0:-1], train[:, -1]
	X = X.reshape(X.shape[0], 1, X.shape[1])
	model = Sequential()
	model.add(LSTM(neurons, batch_input_shape=(batch_size, X.shape[1], X.shape[2]), stateful=True))
	model.add(Dense(1))
	model.compile(loss='mean_squared_error', optimizer='adam')
	for i in range(nb_epoch):
		model.fit(X, y, epochs=1, batch_size=batch_size, verbose=0, shuffle=False)
		model.reset_states()
	return model